:root {
    --clr-bg: #20323d;
    --clr-header-and-cards: #1b4b62;
    --clr-titles: #95afc1;
    --clr-titles-seconday: #f1f1e6;
    --clr-links: #f9f871;
    --clr-light-sky-blue: lightskyblue;
    --clr-dark-red: #3e2a37;
    --clr-highlight: #caf7ff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    width: 100%;
    height: 100vh;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    /* line-height:1.6; */
    letter-spacing: 0.075em;
    color: whitesmoke;
    background: var(--clr-bg);
}

/* ------------------------------------
            1. HEADER
                a. link styles
            
            2. LANDING PAGE
                a.SLIDESHOW ANIMATION 
            
            3. CARDS
            
            4. PORTFOLIO
                a.GRID AND PREVIEW IMAGES
                b.LIGHTBOX IMAGES / CONTENT 

            5. MADLIB
                            
            6. MEDIA QUERIES
                a.SPECIFIC SIZE MEDIA QUERIES
        -------------------------------------- */

/*=
                                               1. HEADER 
                                              ============*/

.container {
    background: var(--clr-header-and-cards);
    box-shadow: -1px 0px 15px black;
}

.nav__title {
    padding-left: 2em;
    /* width: 450px; */
    font-size: 3.4rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav__ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1em;
    margin: 0.5em;
}

.nav__ul a {
    text-decoration: none;
    display: inline-block;
    /* padding: 0.5em 1.5em; */
    font-size: 2.4rem;
    margin: 1em;
}

.add-gallery {
    display: none;
}

.hamburger {
    background: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    color: white;
}

.hamburger:focus {
    outline: none;
}

/* this class gets toggled when hamburger is clicked to darken the rest of the page */
.darken {
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    animation: fadeIn 0.5s;
    height: 100%;
    width: 100%;
}

.rotate {
    transform: rotate(90deg);
    animation: rotate 0.6s, colorFade 0.6s;
    color: var(--clr-links);
}

.reverse {
    animation: rotateBack 0.6s, colorFadeBack 0.6s;
}

@keyframes colorFade {
    from {
        color: white;
    }
    to {
        color: var(--clr-links);
    }
}

@keyframes colorFadeBack {
    from {
        color: var(--clr-links);
    }
    to {
        color: white;
    }
}

/* .red {
    color: rgb(184, 30, 30);
    padding-right: 0.2em;
    display: inline-block;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 2;

    background: var(--clr-header-and-cards);
    padding: 0.5em 0;
    min-height: 88px;
} */

/* this sets the nav link wrapper width on the main index header back to auto because there is only one link */

/* .header-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.index-header {
    width: auto;
}

.index-header li {
    margin-left: 2em;
} */

/* header h1 {
    font-size: 4rem;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.705);
    color: var(--clr-highlight);
    
}

header ul {
    display: flex;
    list-style: none;
    width: 100%;

    max-width: 450px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
} */

/* *
                                a. link styles
                                ***************** */

/* li a {
    color: var(--clr-links);
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


*/

a {
    text-decoration: none;
    color: var(--clr-highlight);
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--clr-links);
}

.link-underline a {
    border-bottom: 2px solid #f9f9713b;
}

.madlib__button:hover {
    color: snow;
}
/* .link-underline:hover {
    border-bottom: rgb(255, 166, 0, 0.25) 2px solid;
}

 */

/* .red {
    color: red;
}

.yellow {
    color: var(--clr-links);
}

.home {
    color: lightskyblue;
} */

/* .home:hover {
    color: var(--clr-titles-seconday);
} */

.title-2018 {
    text-align: center;
    padding: 1em 1em 0 1em;
    font-size: 2.4rem;
}

.title-current-page {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: rgb(184, 30, 30);
}

/* .game {
    color: red;
} */

/*=
                                                    2. LANDING PAGE 
                                                    ================*/

/* this makes it so the landing page screen doesnt scroll at all */
/* .landing-page {
height:90%;
width:100%;

} */

/* this makes the slide-show images take up the full screen */
.landing-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cb-slideshow,
.cb-slideshow::after {
    position: fixed;
    width: 100%;
    height: 100%;
    /* top: -8px; */
    top: 0;
    left: 0px;
    z-index: 0;
    content: "";
    /* background: linear-gradient(
        rgba(0,0,0,.25),
        rgba(0,0,0,.25)
    ),
    url(/images/croc.JPG); */
    background-color: black;
    filter: grayscale(75%);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    z-index: -1;
}

.cb-slideshow li {
    list-style: none;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;

    animation: imageAnimation 36s linear infinite;
    display: flex;
    justify-content: center;
}

/*-
                                             a.SLIDESHOW ANIMATION 
                                            -----------------------*/

.cb-slideshow li:nth-child(1) span {
    animation-delay: 0s;
}
.cb-slideshow li:nth-child(2) span {
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    animation-delay: 30s;
}

/* .cb-slideshow li:nth-child(7) span { 
    
    animation-delay: 36s; 
}

.cb-slideshow li:nth-child(8) span { 
    
    animation-delay: 42s; 
} */

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
        transform: scale(1.15);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 0;
    }
}

/* @keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
} */

/*=
                                                        3. CARDS 
                                                      ==============*/

/* this is the section that wraps .card-wrapper */
#gallery {
    /* min-height:100%; */
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background:#00C9A9; */
    position: relative;
}

/* .gallery-img {
    width:100%;
    height:100%;
    object-fit: cover;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    content: "";
    filter: opacity(.45);
   
    
} */

/* .gallery-body {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(15, 15, 15, 0.65)),
        url(images/woodtable.jpg), rgb(22, 22, 22);

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
} */

/* this wraps all the card divs */
.card-wrapper {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* this controls the size of the image / cards */
.card-img {
    object-fit: cover;
    object-position: center;
    filter: sepia(70%);
    width: 100%;
    height: 300px;
}

.card {
    margin: 0.5em;
    background: var(--clr-titles-seconday);
    color: #fff6f3;
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.582);
    position: relative;
    z-index: 1;
    /* this makes the card turning smoother because it gives the transform a time duration */
    transition: transform 0.3s;
    width: 300px;
    margin: 2em;
}

.card:hover {
    box-shadow: 0 25px 20px 10px rgba(0, 0, 0, 0.4);
    filter: sepia(5%);
    transition: ease-out 0.25s;
}

/* .card-img:hover {
    filter:sepia(5%);
    transition:ease-out .25s;

} */

/* this is a wrapper for the two divs display the date and click here for gallery */
.description-split {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    position: relative;
}

.description-split h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-dark-red);
    font-family: "Gochi Hand", sans-serif;
    letter-spacing: 1px;
    display: none;
}

/* this is the styling for the date on the cards */
.year {
    font-size: 3.6rem;
    margin: 0 0 0 0;
    max-width: 5ch;
    align-self: flex-start;
    font-weight: bold;
    color: var(--clr-dark-red);
    /* text-shadow: 0 0 2px black; */
    padding-bottom: 0.2em;
    line-height: 1;
    font-family: "Gochi Hand", sans-serif;
    padding: 0;
}

.card--2019:hover {
    transform: translateY(-15px);
}

.card--2018:hover {
    transform: rotate(-5deg);
}

.card--2020:hover {
    transform: rotate(5deg);
}

/* this is controlling the scale animation duration when hovering over the cards */
.link-wrap {
    transition: transform 0.35s;
}
/* this makes the cards grow when hovered over. */
.link-wrap:hover {
    transform: scale(1.1);
}

.card--2018 {
    animation: transitionIn 1s;
}

.card--2020 {
    animation: transitionInRight 1s;
}

.card--2019 {
    animation: transitionInTop 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0.25;
        transform: translatex(-300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionInRight {
    from {
        opacity: 0.25;
        transform: translatex(300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionInTop {
    from {
        opacity: 0.25;
        transform: translateY(-300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-wrapper {
    transition-timing-function: ease-out;
}

@keyframes shortTransitionIn {
    from {
        opacity: 0.25;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shortTransitionOut {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0.25;
        transform: translateY(-20px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes rotateBack {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/*=
                                                            4. PORTFOLIO 
                                                            ============*/

/*-
                            4a. GRID AND PREVIEW IMAGES 
                            ---------------------------*/

/* this is the styling for when you hover over the thumbnails and it dims and text apears */

/* .img-2018 {
    opacity:1;
    backface-visibility: hidden;
} */

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: relative;
    text-align: center;
}

.text {
    /* background-color:brown; */
    color: rgb(214, 54, 54);
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5em 0.5em;
    position: absolute;
    bottom: 80px;
    left: 50px;
}

.portfolio__item:hover .img-2018 {
    opacity: 0.25;
}

.portfolio__item:hover .img-2019 {
    opacity: 0.25;
}

.portfolio__item:hover .img-2020 {
    opacity: 0.25;
}

.portfolio__item:hover .middle {
    opacity: 1;
}

/* this is a div wrapping the portfolio item img */
.portfolio__item {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.445);
}

/* this class is for the anchor tag wrapping each preview img */
.button {
    color: white;
    background: black;
}

/* this is the grid used by 2018 / 2020 */
.portfolio {
    display: grid;
    margin: auto;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);

    gap: 2em;
    padding: 5em 2em 2em 2em;
    max-width: 1000px;
    /* width:100%; */
    /* height:90vh; */
    line-height: initial;
    font-size: initial;
    /* outline:solid red 3px; */
}

/* this is the grid for 2019 */
/* .portfolio-2019 {
    display:grid;
    margin: auto;
    place-items: center;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:2em;
    padding:5em 2em 0 2em;
    line-height:initial;
    font-size: initial;
    width:100%;
    max-width:1000px; 
    
} */

/* this controls the size of the portfolio thumbnails */
.portfolio img {
    min-width: 275px;
    max-height: 200px;
    object-fit: cover;
    max-width: 100%;
    display: block;
}

/* 
.portfolio-2019 img {
    max-width:100%;
    min-width:275px;
    height:200px;
    object-fit: cover;
    object-position: center;
    display:block;
 } */

/* -
                                         4b. LIGHTBOX IMAGES / CONTENT
                                        ------------------------------ */

.portfolio-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.portfolio-lightbox__content {
    position: relative;
    max-width: 650px;
}

.portfolio-lightbox__content img {
    max-width: 100%;
    display: block;
    /* max-height:1000px; */

    object-fit: cover;
    object-position: center;
    /* padding:.3em; */
    background: rgb(10, 43, 73);
    border: solid rgb(219, 219, 219) 3px;
    position: relative;
}
/* this makes the lightbox image appear when the thumbnail anchor is clicked */
.portfolio-lightbox:target {
    display: flex;
}

/* this makes the images not taken in portrait mode to be larger. same div as .portfolio-lightbox__content */
.img-enlarger {
    position: relative;
    margin: 2em;
    max-width: 1100px;
}

/* this is the close button on the lightbox images */
.close {
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgb(255, 81, 0);
    border: solid rgb(219, 219, 219) 3px;
    right: -1em;
    top: -1em;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.close::after {
    content: "X";
    color: rgba(17, 17, 17, 0.75);
    font-weight: bold;
}

/* close button for mmadlib */
.close-inside {
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgb(255, 81, 0);
    border: solid rgb(219, 219, 219) 2px;
    right: 0em;
    top: 0em;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.close-inside::after {
    content: "X";
    color: rgba(17, 17, 17, 0.75);
    font-weight: bold;
}
/*=
                                                          5. MADLIB
                                                         =============*/

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgba(238, 238, 238, 0);
    color: var(--clr-links);
    font-size: 2rem;
    letter-spacing: 0.1em;
    height: 35px;
    width: 100%;
}

input:focus {
    outline: none;
}

/* .madlib__item:nth-child(1) {
    margin: 0;
} */

.madlib__instructions span {
    color: var(--clr-links);
}

.madlib__instructions {
    padding: 1em 1.5em;
    margin: 0;
    background: rgba(0, 0, 0, 0.65);
    line-height: 1.6;
}

.madlib__item {
    /* margin: 1.2em 0 0 0; */
    padding: 0;
    list-style-type: none;
    color: var(--clr-highlight);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.madlib__input {
    margin: 0.2em 0;
    font-size: 2.4rem;
}

.madlib__input-items {
    width: 100%;
    padding: 0;
    /* text-align: center; */
}

.madlib__item p {
    min-width: 40%;
    font-size: 2.4rem;
    text-align: center;
}

.madlib-results-wrap {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba(5, 23, 49, 0.788);
    animation: fadeIn 0.75s;
}

.madlib-results__content {
    position: relative;
    z-index: 999;
    max-width: 70ch;
    background: rgb(24, 24, 24);
    padding: 2.5em;
    line-height: 1.6;
    box-shadow: 0 5px 25px black;
    margin: 1.5em;
}

.madlib-results-wrap:target {
    display: flex;
}

.madlib-container {
    /* height: 90vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: solid red 3px; */
    animation: transitionIn 0.75s;
    /* position: relative;
    top: 50px; */
}

.madlib-wrapper {
    display: flex;
    flex-direction: column;
    /* border: solid 3px rgba(255, 0, 0, 0.295); */
    padding: 0;
    border-radius: 0 0 15px 15px;
    background: var(--clr-header-and-cards);
    margin: 2em;
    max-width: 600px;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.473);
}

.madlib__button {
    color: var(--clr-links);
    border: solid 2px var(--clr-links);
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.madlib__button:hover {
    background: rgba(207, 187, 0, 0.644);
}

/* .line-break {
    height: 2.5px;
    width: 100%;
    margin: 0 auto;
    background: var(--clr-highlight);
} */

.madlib__h2--color {
    color: var(--clr-links);
}

.madlib__h2--bg {
    background: rgba(0, 0, 0, 0.65);
    padding: 0.5em 0 0 0;
    font-size: 3.5rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* outline: solid yellow 2px; */
    position: relative;
    padding: 1em 0 2em 0;
    width: 65%;
}

.return-link {
    color: var(--clr-links);
}

.return-link.hide {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 475px) {
    .madlib__instructions {
        font-size: 1.6rem;
    }

    .madlib__h2--bg {
        font-size: 2.4rem;
    }

    .madlib__item {
        margin: 0.2em;
    }

    .madlib__input-items {
        /* width: 40%; */
        padding: 0;
    }

    .madlib-results__content {
        position: relative;
        margin: 1em;
        padding: 1em;
    }

    .madlib__result {
        font-size: 1.6rem;
    }

    .corner {
        border-radius: initial;
        right: 25px;
        top: 600px;
        transform: scale(0.75);
        display: none;
    }

    .center {
        width: initial;
        padding: 1em;
    }

    .madlib__item p {
        width: initial;
        text-align: center;
        margin: 0.5em;
        font-size: 1.8rem;
    }

    .madlib__item {
        width: 300px;
        text-align: initial;
    }

    .madlib__input {
        margin-bottom: 0;
        font-size: 1.8rem;
    }

    .madlib__result {
        letter-spacing: 0.025em;
    }

    .madlib-results__content {
        max-width: 100vw;
        height: 100vh;
        overflow: auto;
        position: relative;
        margin: 0;
        padding: 0.75em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .madlib__h2--bg {
        text-align: initial;
        padding: 1em 0 0 1em;
    }

    .madlib__button {
        margin-top: 0;
        width: 100%;
    }

    .plural-noun {
        width: 0;
    }

    .plural-noun-input {
        width: 140%;
    }

    /* this makes it so the return home link clickable area doesnt cover the full width of the container for mobile */
    .return-link {
        width: 35%;
    }
}

/*=
                                                          6. MEDIA QUERIES
                                                         ===================*/

@media only screen and (min-width: 1500px) {
    /* this is the grid for large screens */
    .portfolio {
        place-items: center;
        grid-template-columns: repeat(4, 1fr);

        max-width: 1200px;
    }
}

@media only screen and (max-width: 1396px) {
    .card-img {
        height: 225px;
    }

    .portfolio {
        display: grid;
        margin: auto;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);

        gap: 2em;
        padding: 5em 2em 2em 2em;
        max-width: 1000px;
        /* width:100%; */
        /* height:90vh; */
        line-height: initial;
        font-size: initial;
        /* outline:solid red 3px; */
    }

    .game {
        display: none;
    }

    header ul {
        max-width: 350px;
    }
}

@media only screen and (max-width: 1020px) {
    header ul {
        /* this tightens the nav link wrap so the links are closer */
        width: 100%;
        max-width: 250px;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    header {
        min-height: 50px;
        justify-content: space-evenly;
        /* padding:.5em 0; */
        flex-direction: column;
    }

    header h1 {
        font-size: 3rem;
        padding: 0.5 0 0.5em 0;
    }

    .title-current-page {
        font-size: 3rem;
    }

    header a {
        font-size: 1.5rem;
    }

    .card-img {
        width: 100%;
        height: 175px;
        box-shadow: none;
    }

    .card {
        width: 350px;
    }

    .card--2018 {
        animation: transitionIn 1s;
    }

    .card--2020 {
        animation: transitionIn 1s;
    }

    .card--2019 {
        animation: transitionIn 1s;
    }

    #gallery {
        justify-content: space-around;
        height: auto;
        width: 100%;
    }

    .description-split h3 {
        font-size: 1.5rem;
    }

    .year {
        font-size: 2rem;
    }

    .description-split {
        margin: 0;
        padding-top: 0.2em;
        padding-bottom: 0.1em;
    }

    .card-wrapper {
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
        align-items: center;
        /* outline:solid green 3px; */
        /* height:75%; */
        /* this is to make the cards stack in a single column instead of spreading with 2 on top 1 on bottom */
        width: 50%;
    }

    header ul {
        padding: 0;
        margin: 0;
    }

    .gallery__title {
        width: 50%;
        max-width: 32ch;
        text-align: center;
        margin-bottom: 4em;
        margin-top: 2em;
        font-size: 1.5rem;
        display: none;
    }

    .description-split h3 {
        display: initial;
    }

    .header-wrap {
        justify-content: space-around;
    }

    .description-split {
        padding-top: 0.5em;
    }
} /* <----media query ends */

/* this resizes the grid */
@media only screen and (max-width: 950px) {
    .portfolio,
    .portfolio-2019 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        max-width: 700px;
        line-height: initial;
        font-size: initial;
    }
}

/* this is to make the hero info card return to the original position (center I think) */
/* @media only screen and (max-width:850px) {
   .hero__wrapper {
       position: initial;
   } 
} */

@media only screen and (max-width: 800px) {
    body {
        height: auto;
    }
    .container {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 998;
    }
    .nav__title {
        width: auto;
        padding: 1em 0 1em 1em;
        font-size: 2rem;
    }
    .nav__ul {
        display: none;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .nav__ul a {
        font-size: 2rem;
    }

    .add-gallery {
        display: initial;
    }

    .hamburger {
        display: block;
    }

    .show {
        display: flex;
        padding: 0 0.5em 0.5em 0.5em;
        margin: 0;
        background: var(--clr-header-and-cards);
        /* animation: shortTransitionIn 0.5s; */
    }

    #gallery {
        top: 75px;
    }

    .portfolio {
        margin-top: 2em;
    }

    .link-underline {
        width: 100%;
        text-align: center;
    }

    .link-underline a {
        padding: 0;
        margin: 0.25em;
        background: rgba(25, 25, 25, 0.26);
        width: 95%;
        padding: 0.5em 0.25em;
        border-radius: 7px;
        box-shadow: 0px 0px 0px 2px #0000003b;
    }

    .madlib-container {
        margin-top: 2.5em;
    }

    .link-underline a {
        border-bottom: none;
    }
}

/* this makes the grid a single column for small screens */
@media only screen and (max-width: 645px) {
    .portfolio {
        padding-top: 3em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        max-width: 1000px;
        line-height: initial;
        font-size: initial;
    }

    .portfolio-2019 {
        padding-top: 3em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .card {
        padding: 0.2em;
        margin: 0.5em;
        width: 250px;
    }

    .card-img {
        width: 100%;
        height: 125px;
    }

    .header-wrap {
        width: 100%;
    }
}

/* this makes the header smaller and tightens gap between the cards in the gallery */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 2.5rem;
    }

    #gallery {
        justify-content: flex-start;

        padding: 1em;
        font-size: initial;
        letter-spacing: initial;

        /* height:100%;
        justify-content: flex-start; */
    }

    .card {
        margin: 0.7em 0;
    }
}

/* this is the media queries for iphone 6/7/8 */
@media only screen and (max-width: 375px) {
    .img-shrinker {
        margin: 0.5em;
    }
    .img-shrinker .close {
        transition: ease 0.3s;
        right: 0px;
        top: 0px;
        border-radius: initial;
    }

    /*this gives the view images link more room at smaller screens */
    /* .view-images,
    .about {
        padding-top: 0.5em;
    } */

    .card--2019:hover {
        transform: rotate(-2deg);
    }

    .card--2018:hover {
        transform: rotate(-2deg);
    }

    .card--2020:hover {
        transform: rotate(-2deg);
    }

    /* this gives the links on the nav bar at small screens some space */
    /* .index-header li {
        margin-left: 0em;
    } */

    /* li:nth-child(1) {
        margin-right: 1em;
    } */
}

/* this is resizing stuff for iphone 5  */
@media only screen and (max-width: 320px) {
    .card-img {
        width: 100%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    /* this resizes the grid thumbnails at iphone 5 screen size */
    .portfolio img {
        min-width: 250px;
    }

    .img-shrinker .close {
        transition: ease 0.3s;
        right: 0px;
        top: 0px;
        border-radius: initial;
    }

    .card--2019:hover {
        transform: rotate(-2deg);
    }

    .card--2018:hover {
        transform: rotate(-2deg);
    }

    .card--2020:hover {
        transform: rotate(-2deg);
    }
}

/* =
                                     SPECIFIC SIZE MEDIA QUERIES
                                    ============================= */

/* this controls image size when iphone5 is in landscape */
@media only screen and (width: 568px) {
    .img-enlarger {
        width: 400px;
    }

    .close {
        transition: ease 0.3s;
        right: -3em;
        top: 7em;
    }

    .img-shrinker {
        object-fit: cover;
        width: 225px;
    }
}

/* this resizes the images and changes position of the close button iphone 6/7/8 plus */
@media only screen and (width: 414px) {
    .img-shrinker {
        width: 375px;
    }

    .img-shrinker .close {
        transition: ease 0.3s;
        right: 0px;
        top: 0px;
        border-radius: initial;
    }

    .portfolio-lightbox__content {
        position: relative;
        max-width: 650px;
        height: 550px;
    }
}

/* this makes the images fit the phone screens when turned into landscape mode */
@media only screen and (width: 667px), (width: 640px), (width: 812px) {
    .img-enlarger {
        position: relative;
        margin: 2em;
        max-width: 465px;
    }

    .close {
        transition: ease 0.3s;
        right: 0;
        top: 0;
        border-radius: initial;
        font-size: 1.5rem;
    }

    .img-shrinker {
        object-fit: cover;
        width: 250px;
    }

    .portfolio {
        padding-top: 2em;
    }
}

/* this makes the images fit the phone screens when turned into landscape mode */
@media only screen and (width: 736px), (width: 731px), (width: 823px) {
    .img-enlarger {
        position: relative;
        margin: 2em;
        max-width: 500px;
    }

    .img-shrinker {
        object-fit: cover;
        width: 250px;
    }

    .close {
        transition: ease 0.3s;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: initial;
        font-size: 1.5rem;
    }

    .portfolio-lightbox__content img {
        object-fit: cover;
        width: 600px;
    }

    /* this makes the portfolios closer to the header when phones are turned to landscape */
    .portfolio-2019 {
        padding-top: 2em;
    }

    .portfolio {
        padding-top: 2em;
    }
}

/* =====
    404 
  ======*/

.position {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-wrap {
    text-align: center;
}

.return {
    color: var(--clr-links);
    text-decoration: underline;
    display: block;
    margin: 0.5em;
}

.game-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
}

.game-wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__ul {
    margin-top: 1em;

    max-width: 48ch;
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
}

.game__li {
    margin-top: 0.5em;
}

/* gridTest */

.grid-container {
    margin: 2em auto;
    padding-bottom: 2em;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
    grid-gap: 1em;
}

.grid-items {
    background: lightblue;
}

.grid-container img:hover {
    filter: brightness(150%);
    box-shadow: 0px 5px 25px black;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 10px black;
    transition: 0.75s;
}

.long {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.stretch {
    grid-column: span 2;
}

.grid-item15 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

@media only screen and (max-width: 950px) {
    .grid-container {
        margin: 5em auto;
        width: 85%;
        padding-bottom: 0.5em;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 210px;
    }

    .big {
        grid-column: initial;
        grid-row: initial;
    }

    .grid-item15 {
        grid-column: initial;
        grid-row: initial;
    }

    .grid-container img:hover {
        filter: brightness(100%);
        box-shadow: 0px 5px 25px black;
    }
}
